
.section-container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px #e9d8a6 solid;
}
.sectionHeading{

    font-family: 'Playfair Display', serif;
    font-size: 36px;
    // color: #6d6875;
    color: #ae2012;
}